header,
footer {
  background-color: #053a74;
  color: rgb(240, 248, 255);
  height: 200px;
  text-align: center;
  font-size: 16px;
}
.header,
footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 5rem;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(240, 248, 255);
}
section {
  margin: 3rem 0;
}

.container {
  margin: 2rem 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
